@use "../variables" as *;
@use "../mixins" as *;

.main-container {
  padding: 0 16px;
  max-width: $x-large;
  margin: 0 auto;

  @include from($x-large) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.btn-primary {
  background-color: $primary-color;
  border: none;
  border-radius: 36px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: $btn-hover-color;
  }
  &:active {
    background-color: $btn-active-color;
  }
}

body.overflow {
  overflow: hidden;

  @include from($medium) {
    overflow: unset;
  }
}

.form-header,
.form-body {
  max-width: 989px;
  margin: 0 auto;
}
.form-header {
  padding: 12px 34px 37px;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 24px;
  }
  p {
    color: #eae5ff;
    font-size: 0.75rem;
    line-height: 18px;
    letter-spacing: 0.18px;
    max-width: 260px;
    margin: 0 auto;
  }

  @include from($large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
    text-align: left;

    h1 {
      margin: 0;
      padding-right: 104px;
    }
    p {
      max-width: 100%;
      padding-left: 96px;
      border-left: 1px solid $gray-lighter-color;
      line-height: 24px;
    }
  }
  @include from($x-large) {
    h1 {
      font-size: 2.1875rem;
    }
  }
}

.form-body {
  margin-top: 48px;
  display: grid;
  row-gap: 24px;

  .form-body__group,
  .subgroup {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  @include from($medium) {
    .subgroup {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
  }
  @include from($large) {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .form-body__group:first-of-type {
      padding-right: 95px;
      border-right: 1px solid $gray-lighter-color;
    }
    .form-body__group:last-of-type {
      padding-left: 95px;
    }
  }
}

.form-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: 100%;

    &:last-of-type {
      background-color: #fff;
      border: 1px solid $primary-color;
      color: $primary-color;
    }
  }

  @include from($medium) {
    flex-direction: row;
  }
}

.form-group {
  position: relative;

  label {
    background: #fff;
    color: $gray-lighter-color;
    font-size: 0.75rem;
    line-height: 18px;
    letter-spacing: 0.18px;
    position: absolute;
    top: 16px;
    left: 24px;
    transition: all 0.2s ease;
    padding: 0 2px;
  }
  input,
  select,
  textarea {
    background: transparent;
    border: 1px solid $gray-lighter-color;
    outline: none;
    border-radius: 36px;
    height: 48px;
    width: 100%;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.175px;
    padding: 6px 24px;
    transition: border-color 0.2s ease;
    caret-color: $primary-color;

    &:focus {
      border-color: $primary-color;

      & + label {
        color: $primary-color;
        top: -9px;
      }
    }
    &.active {
      & + label {
        top: -9px;
      }
    }
    &.valid {
      border-color: $success-color;

      & + label {
        color: $success-color;
      }
    }
    &.invalid {
      border-color: $danger-color;

      & + label {
        color: $danger-color;
      }
    }
  }
  textarea {
    resize: vertical;
    height: 96px;
  }
  input,
  textarea {
    &:not(&[type="date"]).valid {
      background-image: url("/images/form-valid.svg");
      background-position: calc(100% - 16px);
      background-repeat: no-repeat;
      background-size: 24px;
      padding-right: 40px;
    }
    &:not(&[type="date"]).invalid {
      background-image: url("/images/form-invalid.svg");
      background-position: calc(100% - 16px);
      background-repeat: no-repeat;
      background-size: 24px;
      padding-right: 40px;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-image: url("/images/form-dropdown.svg");
    background-position: calc(100% - 16px);
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 40px;
  }
  small {
    color: $danger-color;
    margin-left: 16px;
  }
  input[type="date"] {
    &::-webkit-datetime-edit {
      color: transparent;
    }
    &:focus::-webkit-datetime-edit,
    &.active::-webkit-datetime-edit {
      color: $dark-color;
    }
  }
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;

  .divider {
    height: 100%;
    width: 1px;
    background-color: $gray-lighter-color;
  }

  .radio-group__item {
    text-align: center;

    p {
      color: $gray-dark-color;
      font-size: 0.875rem;
      line-height: 24px;
      letter-spacing: 0.175px;
      margin-bottom: 12px;
    }

    label:first-of-type {
      margin-right: 28px;
    }
    label {
      display: inline-flex;
      column-gap: 7px;
      align-items: center;
      color: $gray-dark-color;
      font-size: 0.875rem;
      line-height: 24px;
      letter-spacing: 0.175px;

      input[type="radio"] {
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--form-background);
        margin: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #979797;
        border-radius: 4px;

        &:checked {
          border: none;
          background-color: $primary-color;

          &::before {
            content: "\e902";
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 18px;
            font-family: "navhe", sans-serif;
            color: white;
          }
        }
      }
    }
    small {
      display: block;
      color: $danger-color;
      margin-left: 16px;
    }
  }

  @include from($large) {
    column-gap: 36px;
    margin-bottom: 16px;
  }
}
