// - COLORS -
$primary-color: #541cf9;
$primary-light-color: #bfb2ff;
$dark-color: #191919;
$black-color: #000;
$gray-color: #999999;
$gray-light-color: #f2f2f2;
$gray-lighter-color: #cccccc;
$gray-dark-color: #7f7f7f;
$cyan-color: #00eaed;
$alert-success-color: #1ccfc9;
$alert-success-light-color: #bfeded;
$success-color: #42be65;
$warning-color: #fbb121;
$danger-color: #da1e28;

$btn-hover-color: #6d4cff;
$btn-active-color: #331199;
$btn-light-hover-color: #e5e5e5;
$btn-light-active-color: #b2b2b2;

// - BREAKPOINTS -
$s-small: 320px;
$small: 375px;
$medium: 768px;
$large: 992px;
$x-large: 1280px;
$xx-large: 1440px;
$xxx-large: 1700px;

// - FONTS -
$font-ubuntu: "UbuntuF", system-ui, -apple-system, sans-serif;
$font-ubuntu-mono: "UbuntuF Mono", monospace;
