@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;

.m-recruitment-card {
  border: 1px solid $gray-lighter-color;
  border-radius: 16px;
  padding: 25px 20px;
  height: 504px;
  display: flex;
  flex-direction: column;

  img,
  h2 {
    margin-bottom: 24px;
  }
  h2 {
    color: $dark-color;
    font-size: 2.1875rem;
    font-weight: 400;
    letter-spacing: 0.088px;
  }
  p {
    color: $gray-color;
    line-height: 28px;
    letter-spacing: 0.024px;
  }
  button {
    width: 100%;
    height: 48px;
    margin-top: auto;
  }
}
